<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sinoroc/cssemantic@504f093643032138c179de7546d960978b784e20/cssemantic.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
